
{% extends "index/navbar.html" %}
{%block airtime%}class="navbars-nav"{%endblock%}
{%block data%}class="navbars-nav"{%endblock%}
{%load humanize%}
        {% block body %}

<script src="https://checkout.flutterwave.com/v3.js"></script>
 <script src="https://js.paystack.co/v1/inline.js"></script>
          <div class="container  airtime-color shadow">
              <h3 class="buy">Confirm Payment</h3>
              <hr>
                <br><br>
              <div class="container">

                  <h6 class="buy">You will be charge &#8358;{{wallet.display|intcomma}}0   with  charges fee 1.6% & your wallet will be credit with &#8358;{{wallet.credit|intcomma}}0  <br/>kindly press the below
                  button to continue with your transaction


              </h6>
              </div>


                     <br><br> <br><br> <br><br>
                <button class="registerbtn" onclick="makePayment()">Continue Payment</button>

              <br><br><br><br><br>
              </div>







          </div>




 <script >

    if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
    }



        <!--if(window.history.replaceState){-->
        <!--    window.history.replaceState(null,null,window.location.href);-->
        <!--    }-->
document.addEventListener('contextmenu', event => event.preventDefault());

document.onkeypress = function (event) {
event = (event || window.event);
if (event.keyCode == 123) {
return false;
}
}
document.onmousedown = function (event) {
event = (event || window.event);
if (event.keyCode == 123) {
return false;
}
}
document.onkeydown = function (event) {
event = (event || window.event);
if (event.keyCode == 123) {
return false;
}
}



jQuery(document).ready(function($){
$(document).keydown(function(event) {
var pressedKey = String.fromCharCode(event.keyCode).toLowerCase();

if (event.ctrlKey && (pressedKey == "c" || pressedKey == "u")) {
//alert('Sorry, This Functionality Has Been Disabled!');
//disable key press porcessing
return false;
}
});
});
function makePayment(){
 var handler = PaystackPop.setup({
        key: 'pk_live_22521896feff1a5ec860f4e441a5a0068fa30c81', //put your public key here
        email: '{{wallet.email}}', //put your customer's email here
        amount: {{wallet.pending_wallet}}, //amount the customer is supposed to pay
        metadata: {
            custom_fields: [
                {
                    display_name: "{{wallet.username}}",
                    variable_name: "{{wallet.username}}",
                    value: "{{wallet.phone_number}}" //customer's mobile number
                }
            ]
        },
        callback: function (response) {

           console.log(response)
           window.open( {% url 'index:payment'%},'_top')

 },
        onClose: function () {
            //when the user close the payment modal
            alert('Transaction cancelled');
        }
    });
    handler.openIframe(); //open the paystack's payment modal


}

         function makePayments() {
    FlutterwaveCheckout({
      public_key: "pk_live_22521896feff1a5ec860f4e441a5a0068fa30c81",
      tx_ref: "titanic-48981487343MDI0NzMx",
      amount: {{wallet.pending_wallet}},
      currency: "NGN",
      payment_options: "card, banktransfer, ussd",
      redirect_url: "{% url 'index:payment'%}",
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "{{wallet.email}}",
        phone_number: '{{wallet.phone_number}}',
        name: '{{wallet.username}}',
      },
      customizations: {
        title: "SpeedooConnect",
        description: "Fund Your Wallet",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }
  </script>


{% endblock %}
