{% extends 'index/navbar.html'%}
{%block airtime%}class="navbars-nav"{%endblock%}
{%block data%}class="navbars-nav"{%endblock%}

{%block body %}
          <div class="container airtime-color shadow">

            <form action="" method="post"   autocomplete="off">
                {%csrf_token%}


              <div class="container">




                <h3 class="buy">Change Password</h3><br>


                <hr><br>
                  {% for message in messages%}

                   <div class="alert {{message.tags}} alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="True">&times;</span>
                     </button>
                     &nbsp;{{message}}

                 </div>
                  {%endfor%}

                <label ><b>Registered Email:</b></label>
                <input type="email" autocomplete="off" placeholder="Enter your Email to get secure pass" name="email" id="email"  required>
                  <label ><b>Secure Pass:</b></label>
                  <input type="text" autocomplete="off" placeholder="Enter your Secure Pass" name="secure" id="secure"  required>
                   <label ><b>New Password:</b></label>
                  <input type="password" autocomplete="off" placeholder="Enter your new password" name="password" id="psw"  required>


                <hr>




                      <button type="submit"   class="registerbtn">Change Password</button>


              </div>


            </form>




          </div>






<script type="text/javascript">
   if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
    }
    $(document).ready(function(){
    //on submit  method start here
     $(document).on("submit",'#login',function(e){
    e.preventDefault();
    $.ajax({
       type:'POST',
       url:"{% url 'index:secure_pass'%}",
       data:{
          username:$('#username').val(),
          secure:$('#secure).val(),
          password:$('#psw').val(),

          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
       },
       success:function(data){
       console.log(data)
       },
       error:function(data){
       }

    })
    })


    // and it ends here

    })

</script>
{%endblock%}