
{% extends 'index/navbar.html' %}
{% load humanize %}
{%block airtime%}class="navbars-nav"{%endblock%}
{%block data%}class="active"{%endblock%}

{% block body %}
  <div class="login-wrapper">
        <div class="container">
            <div class="container">
                <form action="{% url 'index:data' %}" method="post">
                    {% csrf_token %}
                  <div class="container" style="width: fit-content; background-color: #fff; margin-top: 5%;">

                    <div class="text-center">
                        <h3 class="buy">BUY DATABUNDLE</h3>

                    </div>
                    <hr><br>
                       {% for message in messages%}

                       <div class="alert {{message.tags}} alert-dismissible" role="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <span aria-hidden="True">&times;</span>
                         </button>
                         &nbsp;{{message}}

                     </div>
                      {%endfor%}
                    <label ><b>Wallet Balance</b></label>
                    <select name="" id="" class="login-input">
                      <option class=""> &#8358;{{wallet.wallet|intcomma}}</option>
                    </select><br/>
                       <a href="{% url 'index:fund'%}" class="btn btn-success w-100">Fund Wallet</a><br><br>
                    <label ><b>Number</b></label>
                    <input type="number" placeholder="Enter phone number" name="number" id="email" class="login-input"  required><br/><br/>
                    <span>Choose your network</span>
                    <select name="network" id="net" onchange="changenetwok();" class="login-input">
                     <option value="">--SELECT--</option>
                      <option value="01">MTN</option>
                        <option value="02">GLO</option>
                        <option value="03">9MOBILE</option>
                        <option value="04">AIRTEL</option>

                      </select><br><br/>

                    <label ><b>DataBundle plan</b></label>
                    <!-- select -->
                    <select name="" class="login-input" id="select" style="display: block; margin-top:12px ;">
                        <option value="">--SELECT--</option>

                        </select>
                    <!-- mtn -->


                   <select name="plan" id="m" class="login-input">

                       {% for m in mtn %}
                        <option class="login-input" value="{{m.value}}">{{m.datagb}}/ &#8358;{{m.dataprice|intcomma}}</option>
                       {%endfor%}

                       </select>
                        <!-- glo -->
                        <select name="plan"id="g" class="login-input">

                            {% for g in glo %}
                            <option class="login-input" value="{{g.value}}">{{g.datagb}}/ &#8358;{{g.dataprice|intcomma}}</option>
                            {%endfor%}

                            </select>

                            <!-- 9mobile -->
                            <select name="plan" id="e"  class="login-input">

                                {% for m in mobile9 %}
                                <option class="login-input" value="{{m.value}}">{{m.datagb}}/ &#8358;{{m.dataprice|intcomma}}</option>
                                {%endfor%}


                                </select>

                                <!-- airtel -->

                                <select class="login-input" name="plan"  id="a" >

                                    {% for a in airtel %}
                                    <option  value="{{a.value}}">{{a.datagb}}/ &#8358;{{a.dataprice|intcomma}}</option>
                                    {%endfor%}

                                    </select>
                      <br/>



                    <hr>

                    <button type="submit" class="btn btn-success">BUY DATAPLAN</button>
                  </div>


                </form>

            </div>


        </div>
    </div>
    <script>

        if(window.history.replaceState){
 window.history.replaceState(null,null,window.location.href);
 }
         var sele=document.getElementById('select')
       var airtel=document.getElementById('a').style.display='none';
        var mtn =document.getElementById('m').style.display='none';
       var glo=document.getElementById('g').style.display='none';
       var etisalat=document.getElementById('e').style.display='none';
     function changenetwok(){
           var network=document.getElementById('net').value ;


       switch (network) {
          case '01':
         var glo=document.getElementById('g').style.display='none';

         var sele=document.getElementById('select').style.display='none'
         var airtel=document.getElementById('a').style.display='none';
         var mtn =document.getElementById('m').style.display='block';
          var etisalat=document.getElementById('e').style.display='none';


         var etisalat=document.getElementById('e').name="";
          var glo=document.getElementById('g').name='';
          var airtel=document.getElementById('a').name=''
         var mtn =document.getElementById('m').name="plan";




           break;
           case '02':

             var glo=document.getElementById('g').style.display='block';
             var sele=document.getElementById('select').style.display='none'
             var airtel=document.getElementById('a').style.display='none';
              var mtn =document.getElementById('m').style.display='none';

             var etisalat=document.getElementById('e').style.display='none';

              var etisalat=document.getElementById('e').name="";
          var glo=document.getElementById('g').name='plan';
          var airtel=document.getElementById('a').name=''
         var mtn =document.getElementById('m').name="";

             break;
       case '03':

             var glo=document.getElementById('g').style.display='none';
             var sele=document.getElementById('select').style.display='none'
       var airtel=document.getElementById('a').style.display='none';
       var mtn =document.getElementById('m').style.display='none';



       var etisalat=document.getElementById('e').style.display='block';

        var etisalat=document.getElementById('e').name="plan";
          var glo=document.getElementById('g').name='';
          var airtel=document.getElementById('a').name=''
         var mtn =document.getElementById('m').name="";

       break;

       case '04':

             var glo=document.getElementById('g').style.display='none';
             var sele=document.getElementById('select').style.display='none'
             var airtel=document.getElementById('a').style.display='block';
             var mtn =document.getElementById('m').style.display='none';

       var etisalat=document.getElementById('e').style.display='none';
        var etisalat=document.getElementById('e').name="";
          var glo=document.getElementById('g').name='';
          var airtel=document.getElementById('a').name='plan'
         var mtn =document.getElementById('m').name="";

       break;




          // airtel.style.display='none'
          //  mtn.style.display='block';
          // gl0.style.display='block';
         // sele.style.display='none'
         // etisalat.style.display='none';

         default:
         var glo=document.getElementById('g').style.display='none';
           var sele=document.getElementById('select').style.display='block'
           var airtel=document.getElementById('a').style.display='none';
             var mtn =document.getElementById('m').style.display='none';

       var etisalat=document.getElementById('e').style.display='none';


           break;
       }



         }

         // show()
         changenetwok();
       </script>
{% endblock %}