
{% extends "index/navbar.html" %}
{%block airtime%}class="navbars-nav"{%endblock%}
{%block data%}class="navbars-nav"{%endblock%}
{%load humanize%}
        {% block body %}
          <div class="container  airtime-color shadow">

            <form action="{% url 'index:pend'%}" method="post">
              {% csrf_token %}
              <div class="container">




                <h3 class="buy">FUND WALLET</h3><br>


                <hr><br>
                  {% for message in messages%}

                   <div class="alert {{message.tags}} alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="True">&times;</span>
                     </button>
                     {{message}}
                   </div>

                  {%endfor%}
              <label ><b>Wallet Balance</b></label>
                <select name="" id="" style="display: block; margin-top:12px ;">
                  <option>&#8358;{{wallet.wallet|intcomma}}</option>
                </select><br/>

                <label for="amount"><b>Amount (&#8358; 500/&#8358; 50,000)</b></label>
                <input type="number" placeholder="Enter amount to fund your wallet with here"  name="amount" id="amount" required>




                <hr>



                <button type="submit" class="registerbtn">FUND WALLET</button>
              </div>


            </form>




          </div>




  <script>

    if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
    }
  </script>
{% endblock %}