
{% extends "index/navbar.html" %}
{%block fund%}class="active"{%endblock%}
{%load humanize%}
        {% block body %}
 <div class="login-wrapper" >
          <div class="container">

            <form action="{% url 'index:pend'%}" method="post">
              {% csrf_token %}
              <div class="container" style="background-color: #fff; margin-top: 5%; padding: 10px 15px; width:fit-content ; height:fit-content" >



              <div class="text-center">
                 <h3 class="buy">FUND WALLET</h3>
              </div>



                <hr>
                  {% for message in messages%}

                   <div class="alert {{message.tags}} alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="True">&times;</span>
                     </button>
                     {{message}}
                   </div>

                  {%endfor%}
              <label ><b>Wallet Balance</b></label>
                <select class="login-input" name="" id="" style="display: block; margin-top:12px ;">
                  <option>&#8358;{{wallet.wallet|intcomma}}</option>
                </select><br/>

                <label for="amount"><b>Amount (&#8358; 500/&#8358; 50,000)</b></label>
                <input type="number" class="login-input" placeholder="Enter amount to fund your wallet with here"  name="amount" id="amount" required>




                <hr>



                <button type="submit" class="btn btn-success">FUND WALLET</button>
              </div>


            </form>




          </div>
 </div>




  <script>

    if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
    }
  </script>
{% endblock %}