
{% extends "index/navbar.html" %}

        {% block body %}
          <div class="container  airtime-color shadow">
             <h3 class="buy">Transaction History</h3><br>
               {% for message in messages%}

                   <div class="alert {{message.tags}} alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="True">&times;</span>
                     </button>
                     &nbsp;&nbsp; &nbsp;{{message}}

                 </div>

                  {%endfor%}

          <table border="1"  cellpadding="">

              <tr>
                  <th><h5>Transaction Type</h5></th>
                  <th><h5>Price</h5></th>
                  <th><h5>Date</h5></th>
                  <th><h5>Transaction Status</h5></th>
              </tr>
              {%for his in history reversed %}
              <tr>
                  <td>{{his.transaction_type}}</td>

                   <td>#{{his.amount}}</td>
                    <td>24-02-2020</td>
                   <td><a class="wrapper_link" href="{% url 'index:history-single' his.id %}">View Status</a></td>
              </tr>
              {%endfor%}

          </table>
          </div>

  <script>

    if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
    }

  </script>
{% endblock %}