{% extends 'index/navbar.html' %}


{%load static %}
{% block body %}
      <div class="data container">
        <h4>Electronic Top Up</h4>
        <p class="datap"> Electronic vending of data  and airtime</p>
        <br/><br/><br/><br/>

        <div class="row"  >
          <div class="col-sm-12 col-lg-4 col-md-6 elec"  >

                <img src="{% static 'index/images/electricity_copy_800x864.jpg' %}"  style="z-index:-1; position: relative;"  class="img-responsive">


            <div class="under" >
              <p  class="underp" style="z-index:-1; position: relative;"> PAY ELECTRICITY BILL</p>
              <p>Pay your eletricity bill</p><br>
              <a href="{% url 'index:electric'%}" class="wrapper_link"  >Buy Now</a>

            </div>
        </div>
          <div class="col-sm-12 col-lg-4 col-md-6 elec">
            <img src="{% static 'index/images/images (10)_copy_800x864.jpeg' %}" class="img-responsive">
          
              <div class="under ">
                <P class="underp">CABLE TV SUB</P>
                <p>Pay for cable Tv subscription</p><br>
                <a href="{%url 'index:cable'%}" class="wrapper_link">Buy Now</a>
              </div>
          </div>

          <div class="col-sm-12 col-lg-4 col-md-6 elec">
            <img src="{% static 'index/images/images (8)_copy_800x864.jpeg'%}" height="350" class="img-responsive">
           
            <div class="under ">
              <P class="underp">Buy Data BUNDLE</P>
              <p> Enjoy huge Data Bundle </p><br>
              <a href="{% url 'index:data' %}" class="wrapper_link">Buy Now</a>
            </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6 elec">
              <img src="{%static 'index/images/images (9)_copy_800x864.jpeg'%}" height="150px" class="img-responsive">
              <div class="under ">
             <P class="underp">BUY VTU AIRTIME</P>
                <p>Enjoy huge amount of Airtime</p><br>
                <a href="{% url 'index:airtime'%}" class="wrapper_link">Buy Now</a>
              </div>
             
              </div>

              <div class="col-sm-12 col-lg-4 col-md-6 elec">
                <img src="{% static 'index/images/images (16)_copy_800x864.jpeg' %}" class="img-responsive">
                <div class="under rounded-bottom ">
               <P class="underp">Send Bulk Sms</P>
                  <p>Bulk sms service is available at cheap rate</p><br>
                  <a href="{%url 'index:print'%}" class="wrapper_link">Buy Now</a>
                </div>
               
                </div>
           <div class="col-sm-12 col-lg-4 col-md-6 elec">
              <img src="{%static 'index/images/images (15)_copy_800x864.jpeg'%}" height="150px" class="img-responsive">
              <div class="under ">
             <P class="underp">BUY WAEC E-PIN</P>
                <p>Waec e-pin at affordable price</p><br>
                <a href="{% url 'index:waec'%}" class="wrapper_link">Buy Now</a>
              </div>

              </div>
                
        </div>


      </div>
<!-- customer service section -->
<div class="customer">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-6 col-md-6">
        <img src="{% static 'index/images/images__11__copy_800x864-removebg-preview.png' %}" class="img-responsive"/>
      </div>
      
      <div class="col-sm-6 col-lg-6 col-md-6">
       <p class="customerp">CUSTOMER SERVICE</p>

          <h6>Make your conplain or enquire here</h6>

       <!-- customer care service form -->
      <div class="form-div">
        <form> 
          <input type="email" class="form-control,form-divinput" required placeholder="Enter your Emails"/>
          <input type="text" class="form-control" required placeholder="Enter your name"/>
          <textarea cols="30" rows="5" class="stextarea " placeholder="Enter your message here"></textarea>
          <button type="submit" class="registerbtn">Send</button>

          



        </form>


      </div>
    </div>

  </div>

</div>

</div>
{% endblock %}