<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'index/style3.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="login-wrapper">
    <div class="login-wrapper" style="overflow-x: scroll;">


            <div class="container" >

                <div class="container" style="background-color: #fff; margin-top: 10%; padding: 10px 15px; width:fit-content ; height:fit-content">
                    <div class="text-center">
                        <h1>Login Account</h1>
                        <br/><br/>
                    </div>

                    {% for message in messages%}

                    <div class="alert {{message.tags}} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                      </button>
                      &nbsp;{{message}}

                  </div>
                   {%endfor%}


                    <form action="" method="post" >
                        {% csrf_token %}
                        <div class="cotainer">
                            <label for="">Email Addressr</label><br/>
                            <input type="email" class="login-input" name="email" id="email" required>
                            <br>
                            <label for="">Password</label>
                            <input type="password" class="login-input" name="password" id="password">
                            <br/>
                            <input type="checkbox" style="padding: 15px 10px ;" name="" id="">&nbsp;&nbsp;<span>Remind me</span>
                            <br/><br/>
                            <input type="submit" class="btn btn-success"  value="Login now" name="" >
                                <div class="text-right" style="padding: 10px 15px;">
                                    <a href="" class="text-right">Forgot Password</a><br/>

                                </div>


                            <span  style="margin-top: 12px;">Didn't  have an account</span>&nbsp;<a href="{% url 'index:create'%}">Signup</a>



                        </div>
                        <br>
                       <div class="text-center">
                        <a href="{% url 'index:index'%}" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-home"></span> Home
                          </a>
                       </div>
                    </form>
                </div>

            </div>



              <br><br>




    </div>

</body>
</html>





<script type="text/javascript">
   if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
    }
    $(document).ready(function(){
    //on submit  method start here
     $(document).on("submit",'#login',function(e){
    e.preventDefault();
    $.ajax({
       type:'GET',
       url:"{% url 'index:loging'%}",
       data:{
          username:$('#username').val(),
          password:$('#password').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
       },
       success:function(data){
       console.log(data)
       },
       error:function(data){
       }

    })
    })


    // and it ends here

    })

</script>
