<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'index/style3.css'%}">

    <title>Buy Airtime</title>
</head>
<body class="login-wrapper">
<nav class="navbar navbar-default  navbar-fixed-top" id="headnev">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">SpeedooData</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class=""><a href="{% url 'index:index'%}">Home</a></li>

            <li {%block airtime%}class=""{%endblock%}><a href="{% url 'index:airtime'%}">Buy Airtime</a></li>
            <li {%block data%}class=""{%endblock%}><a href="{% url 'index:data'%}">Buy Data</a></li>

              <li {%block cable%}class=""{%endblock%}><a href="{% url 'index:cable'%}">Cable Tv Subscription</a></li>
            <li><a href="#">Pay for PHCN</a></li>
            <li {%block fund%}class=""{%endblock%} ><a href="{% url 'index:fund'%}">Deposit Money</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
        {% if request.user.is_authenticated %}
               <ul class="nav navbar-nav navbar-right">

            <li><a href="{% url 'index:logout'%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
              {%else%}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{% url 'index:loging'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
              {%endif%}

          </div>
        </div>
      </nav>

{% block body %}


{% endblock %}

</body>
</html>