{% extends 'index/navbar.html' %}
{%block airtime%}class="navbars-nav"{%endblock%}
{%block data%}class="navbars-nav"{%endblock%}
{% block body %}
          <div class="container  airtime-color shadow">

            <form action="{% url 'index:updateprofile'%}" >
              {% csrf_token %}
              <div class="container">




                <h3 class="buy">Profile</h3><br>


                <hr><br>
                  {% for message in messages%}

                   <div class="alert {{message.tags}} alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="True">&times;</span>
                     </button>
                     {{message}}
                   </div>

                  {%endfor%}

                <label><h5><b>Username:</b></h5></label>&nbsp; <label ><h5>{{profile.username}}</h5></label><br>
                <label><h5><b>Email Address:</b></h5></label>&nbsp; <label ><h5>{{profile.email}}</h5></label><br>
                 <label><h5><b>Mobile number:</b></h5></label>&nbsp; <label ><h5>{{profile.phone_number}}</h5></label><br>

                <label><h5><b>Gender:</b></h5></label>&nbsp; <label ><h5>{{profile.gender}}</h5></label><br>
                 <label><h5><b>Wallet Ballance:</b></h5></label>&nbsp; <label ><h5>{{profile.wallet}}</h5></label><br>






                <button type="submit" class="registerbtn">UPDATE PROFILE</button>
              </div>


            </form>




          </div>




  <script>

    if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
    }
  </script>
{% endblock %}